* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body,
html {
    height: 100vh;
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    color: #707070;
}


/* ROOT */
:root {
    --main-color: #F84151;
    --border-color: #d6d6d6;
}

/* ALL */
main,
header h1 {
    margin-left: 50px;
}

#content {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 64px);
}

.box {
    height: auto;
    border: 1px solid var(--border-color);

}

/* HEADER */
header {
    display: block;
    width: 100%;
    height: 64px;
    background-color: var(--main-color);
}

.title-header {
    font-size: 35px;
    color: white;
    line-height: 64px;
}


/* MAIN */
main {
    flex-shrink: 2;
    margin-top: 50px;
    flex-grow: 1;


    display: flex;
    flex-basis: 800px;

}

.profile-img,
.profile-container {
    width: 300px;
    height: 450px;
    position: relative;
}

.profile-image-description {
    width: 100%;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    padding: 10px;
    text-align: justify;
}

.profile-image-description .profile-citation-autor {
    font-size: 16px;

    text-align: start;
    padding: 3px;
}

.profile-description-container {
    margin-top: 20px;
}

.text-description {
    color: var(--main-color);
    font-weight: bold;
    font-size: 15px;
}

/*MAIN SECTION 2 */
.more-description .text-name {
    font-size: 60px;
    color: var(--main-color);
    line-height: 34px;

}



.more-description {
    margin-left: 30px;

}

.box-container {
    margin-top: 40px;
    display: flex;

    justify-content: space-around;


}

.more-description .title-box {
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
}

.line {
    height: 1px;
    background-color: var(--border-color);
}

.more-description .box-container-content {
    padding: 20px;
}

.more-description .box {

    width: 370px;

    border-radius: 7px;
    margin-right: 16px;

}

.box-container-content {
    display: flex;
}

.characterists {
    margin-bottom: 20px;
}

.box-container-content .column-items:nth-child(2) {
    margin-left: 25px;
}

/* SECTION BIO */
.bio-container {
    padding-right: 20px;
}

.bio-container .text-name {
    line-height: auto;
    margin-top: 20px;

}

.bio-container p {
    margin-top: 20px;
    text-align: justify;
}

/* ASIDE */
aside {
    flex-basis: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.box-aside {
    flex-grow: 1;
}

.box-aside ul {
    list-style-type: none;
}

.aside-title {
    color: var(--main-color);
    font-weight: bold;
    padding: 15px 0px;
}

.box-aside {
    flex-grow: 1;
    padding: 35px;
    border: 1px solid var(--border-color);
}

@media only screen and (max-width: 1569px) {
    main .bio-container {
        margin: 20px 0;
    }

}

@media only screen and (max-width: 1160px) {
    main {
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0px;
    }

    section.more-description {
        margin-top: 30px;
    }

    div.container {
        margin-left: 0px;
    }




}


@media only screen and (max-width: 915px) {

    div.box-container {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px;
        width: 100vw;
        padding: 0px;
    }

    div#container {
        margin: 0px;
        padding: 0px;
    }

    .box-container-content .column-items:nth-child(2) {
        margin: 0px;
    }

    div .box-container-content {
        flex: 1;
        padding: 0px;
        margin: 0px;
    }


    ddiv#content {

        width: 100%;
    }

    .box-container .box .column-items {
        margin-left: 15px;
    }

    main {
        width: 100%;
        padding: 0px;
    }

    section.more-description {
        margin: 0px;
        margin-top: 30px;
        padding: 0px;

    }

    section .text-name {
        margin-bottom: 30px;

    }

    section.more-description .box {
        margin-bottom: 25px;
        padding: 0px;
        margin-right: 0px;
    }

    main section:nth-child(1)::before {
        content: "João Paulo";
        display: inline-block;
        font-size: 60px;
        font-weight: bold;
        color: var(--main-color);
        margin-bottom: 30px;

    }

    section.more-description h1.text-name {
        display: none;
    }

    section.more-description .bio-container {
        width: 1fr;
        height: auto;
        padding: 0px;

    }

    section.more-description .bio-container p {
        word-wrap: break-word;

        overflow: auto;
        padding: 15px;
    }
}


@media only screen and (min-width:739px) and (max-width:915px) {
    .box-container .box {
        margin-left: 15px;
    }
}